.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info > button{
    background: #945ae4;
    border: 2px solid;
    padding: 4px 12px;
    margin-top: 10px;
    border-color: black;
    color: rgb(230, 231, 223);
    font-weight: bolder;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 700;
}
