.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info > button{
    border: 2px solid;
    padding: 4px 12px;
    margin-top: 10px;
    border-color: black;
    color: rgb(230, 231, 223);
    font-weight: bolder;
    width: 400px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #945AE4; 
    padding: 8px;
    border-top: 1px solid #ddd; 
}

.checkoutProduct__info button:hover {
    background-color: #9584ac;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 700;
}
