.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal__gift{
    display: flex;
    align-items: center;

}

.subtotal__gift > input{
    margin-right: 5px;
}

.subtotal > button {
    background: #945ae4;
    border: 2px solid;
    padding: 4px 12px;
    margin-top: 10px;
    border-color: black;
    color: rgb(230, 231, 223);
    font-weight: bolder;
}